@import '../../mixins';
@import '../../variables';

.container__header {
  position: relative;
}

.header-topmenu {
  width: 100%;
  @include flex(center, center, row);
  padding: 0.45rem 0;
  background-color: $tc-dark;
  @include for-tablet {
    width: 100%;
    @include flex(space-between, center, row);
    flex-wrap: nowrap;
  }
  &__logo {
    @include flex(center, center, row);
  }

  &__logo__icon {
    width: 2.15rem;
    height: 2.15rem;
    background-repeat: no-repeat;
    background-size: contain;
    @include for-tablet {
      padding-left: 5rem;
    }
    @include for-desktop {
      padding-left: 8rem;
    }
  }
  &__logo__text {
    @include basic-font800;
    color: $tc-textlight;
    font-size: 1.2em;
    line-height: 1.1em;
    padding-left: 0.5rem;
    &:hover {
      color: $tc-textdark;
    }
  }
  @include for-tablet {
    font-size: 0.8em;
  }
}
