@mixin flex($vertical, $horisontal, $direction: 'row') {
  display: flex;
  justify-content: $vertical;
  align-items: $horisontal;
  flex-direction: $direction;
}

@mixin basic-font800 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0px;
}

@mixin basic-font600 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0px;
}

@mixin for-tablet {
  @media (min-width: 481px) {
    @content;
  }
}

@mixin for-desktop {
  @media (min-width: 993px) {
    @content;
  }
}
