@import './mixins';
@import './reset.scss';
@import './variables';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600;800&display=swap');

.container {
  width: 100%;
  margin: 0 auto;
  @include flex(center, center, row);
}
.main__container {
  margin: 0 auto;
  @include flex(center, center, row);
  flex-wrap: wrap;
  min-width: 320px;
}
.page__container {
  position: relative;
  margin: 0 auto;
  @include flex(center, center, row);
  flex-wrap: wrap;
  background-color: $tc-bgcolor;
}
.page__title {
  width: 100%;
  @include flex(center, center, row);
  @include basic-font800;
  font-size: 1.5em;
  color: $tc-textdark;
  margin: 1rem 0 1rem 0;

  @include for-tablet {
    font-size: 2em;
    line-height: 2.9rem;
    margin: 2rem 0 2rem 0;
  }
  @include for-desktop {
    font-size: 2.5em;
    margin: 3rem 0 3rem 0;
  }
}
.page__text {
  box-sizing: border-box;
  width: 98%;
  @include flex(center, flex-start, row);
  @include basic-font600;
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
  color: $tc-textlight;
  background-color: $tc-dark;
  border-radius: 1rem;
  padding: 0.8rem;
  z-index: 50;
  @include for-tablet {
    width: 78%;
    font-size: 0.8em;
    line-height: 1.2em;
    border-radius: 1rem;
    padding: 1.2rem 1.2rem 4.55rem 1.2rem;
    margin: 5.2rem 0 4.2rem 0;
    box-shadow: 0px 100px 80px rgba(80, 76, 103, 0.07),
      0px 0px 10.0172px rgba(80, 76, 103, 0.035);
    border-radius: 25px;
  }
  @include for-desktop {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 1.2rem 1.2rem 5.55rem 1.2rem;
    margin: 8.2rem 0 7.2rem 0;
  }
}

.page__img {
  position: absolute;
  display: none;
  @include for-tablet {
    display: block;
    top: 23.6rem;
    right: 13%;
  }
  @include for-desktop {
    display: block;
    top: 20.9rem;
    right: 13%;
  }
}

.cards {
  @include flex(center, stretch, row);
  flex-wrap: wrap;
  position: relative;
  width: 98%;
  @media screen and (min-width: 481px) {
    width: 83%;
  }
}
.header {
  width: 100%;
  @include flex(flex-start, center, row);
  flex-wrap: wrap;
}
.button {
  @include basic-font800;
  font-size: 1.1em;
  border-style: none;
  border-radius: 1rem;
  color: $tc-textdark;
  padding: 0.95rem 0 0.95rem 0;
  line-height: 1.1875em;
  width: 100%;
  margin: 0 0 0.5rem 0;
  @include for-tablet {
    font-size: 0.8em;
    margin: 0 1rem 1rem 0;
    width: 20%;
  }
  @include for-desktop {
    line-height: 1.1875em;
    width: 14%;
  }
}
.button:focus {
  outline: none;
  background-color: $tc-dark !important;
  color: $tc-textlight;
}
